<!-- <section id="download" class="download bg-primary text-center"> -->
<section id="download" class="download free_time text-center">
    <div class="container">
        <div class="row">
            <div class="overlay"></div>
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading" style="color:rgb(255, 255, 255)">Become part of the community!</h2>
                <p style="color:rgb(255, 255, 255)">Join our mailing list to stay updated!</p>
                <!-- <a href="http://eepurl.com/c_FONT" class="btn btn-outline btn-xl">Join Mailing List</a> -->
                
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
    /* #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;} */
    #mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
    <!-- old ID: id=8fc6ce452e -->
<form action="https://convexmind.us17.list-manage.com/subscribe/post?u=00f46787650d678d7c6541eb1&amp;id=1104ef891e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_00f46787650d678d7c6541eb1_8fc6ce452e" tabindex="-1" value=""></div>
    <!-- <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div> -->
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<!--End mc_embed_signup-->


                <!-- <div class="badges">
                    <a class="badge-link" href="#"><img src="/img/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" href="#"><img src="/img/app-store-badge.svg" alt=""></a>
                </div> -->
            </div>
        </div>
    </div>
</section>
