<script>

// global variables
var green_player, blue_player;
var player_arr;


// main
function startGame() {
    myGameArea.start();
    green_player = new Player(30, 30, "green", 2,   2, 0, 0, 2);
    blue_player  = new Player(30, 30, "blue",  2, 268, 1,-1, 1);
    player_arr = [green_player, blue_player];
}

// gameplay area
var myGameArea = {
    canvas : document.getElementById('game1'),
    start : function() {
        this.canvas.width = 512;
        this.canvas.height = 300;
        this.context = this.canvas.getContext("2d");

    // update game area every 20th milisecond (50times/sec)
        this.interval = setInterval(updateGameArea, 20);

    // listen to player
        // keyboard strokes
        window.addEventListener('keydown', function(e) {
            myGameArea.keys = (myGameArea.keys || []);
            myGameArea.keys[e.keyCode] = true;
        })
        window.addEventListener('keyup', function(e) {
            myGameArea.keys[e.keyCode] = false;
        })

        // mouse
        





        // touch
        // window.addEventListener('touchmove', function (e) {
        //     myGameArea.x = e.touches[0].screenX;
        //     myGameArea.y = e.touches[0].screenY;
        // })
    },
    clear : function() {
        this.context.clearRect(0,0, this.canvas.width, this.canvas.height);
    }
}

// updates the game area
function updateGameArea() {
    myGameArea.clear();

    decode_key_press();

    // calculate new positions
    for(i=0; i<player_arr.length;i++) { player_arr[i].move(); }
    // update
    for(i=0; i<player_arr.length;i++) { player_arr[i].redraw(); }

}

// decode player's key presses
function decode_key_press() {
    // reset players velocity
    green_player.vel_x = 0;
    green_player.vel_y = 0;
    // decode what velocities to add
    var sp = green_player.speed;
    if (myGameArea.keys && myGameArea.keys[37] ) {green_player.vel_x=-sp} // left
    if (myGameArea.keys && myGameArea.keys[38] ) {green_player.vel_y=-sp} // up
    if (myGameArea.keys && myGameArea.keys[39] ) {green_player.vel_x= sp} // right
    if (myGameArea.keys && myGameArea.keys[40] ) {green_player.vel_y= sp} // down
}








// Player class
function Player(width, height, color, init_x, init_y, init_vel_x, init_vel_y, init_speed) {
    this.width = width;
    this.height = height;
    this.x = init_x;
    this.y = init_y;
    this.vel_x = init_vel_x;
    this.vel_y = init_vel_y;
    this.speed = init_speed;

    // moves coordinates to new position
    this.move = function() { 
        this.x += this.vel_x;
        this.y += this.vel_y;
    }

    // redraws the player
    this.redraw = function() {
        ctx = myGameArea.context;
        ctx.fillStyle = color;
        ctx.fillRect(this.x, this.y, this.width, this.height);
    }
}

</script>
